@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: blueviolet;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15% 10%;
}

.apresentacao-section {
    width: 615px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 50px;
}

.apresentacao-section-titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao-section-paragrafo {
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    width: 170px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    color:black;
    font-family: "krona one", sans-serif;

}